body {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px; 
	border : 0px dotted darkred;
	background-color: white; 
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-bottom: 2px;
}
div.list-r {
	padding : 4px;
	text-align : right;
	float: right;
}
div.print-big { 
	padding-top: 12px;
	font-weight: bold;
	font-size: 24px;
}
div.print-type { 
	padding-top: 12px;
	font-style: italic;
}
pre {
	font-style : normal;
	font-family: Courier New, Courier, monospace;
	font-size: 12px;
	margin-top : 0px;
	text-align : left;
	white-space : pre;
}
