.bundle
.rbenv-version
.ruby-version
.lock*
data/csv/
data/downloads/
data/html/
data/quanty/Makefile
data/quanty/lib/quanty/parse.rb
data/quanty/lib/quanty/units.dump
data/rss/
data/sql/
data/xls/
data/xml/
data/pdf/
doc/resources/images/
doc/resources/fachinfo/
doc/resources/**/*.css
doc/resources/*/**/*.css
doc/resources/dojo-release-*
doc/resources/dojo*
doc/resources/hirslanden/
doc/resources/just-medical/
doc/resources/logos
doc/resources/medical-tribune/
doc/resources/medical-tribune1/
doc/resources/swissmedinfo/
doc/resources/downloads/status
doc/resources/downloads/status_crawler
doc/resources/downloads/status_google_crawler
etc/db_connection.rb
etc/oddb.yml
log/
src/util/quanty.rb
src/util/quanty/fact.rb
src/util/quanty/main.rb
src/util/quanty/parse.rb
svc
doc/resources/sponsor/
doc/resources/patinfo/
doc/sl_errors
rdoc/
documentation/
test/var
