/* Top-Level */
a {
	text-decoration: none;
}	
a img {
	border : 0px;
}
body {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px; 
	border : 0px dotted darkred;
	background-color: white; 
	margin: 0;
}
label {
	font-weight : bold;
}
ul {
	margin : 0px;
	padding-left : 14px;
	list-style-type : disc;
}
ol {
	margin : 0px;
	padding: 0px 0px 0px 20px;
}
ol li {
	margin: 5px 0px;
}
form {
	margin : 0px;
}
table {
	border: 0px solid red;
	margin: 0px;
}
textarea {
	width: 400px;
	height: 100px;
	font-family : Arial, Helvetica, sans-serif;
}
td {
	border : 0px dashed green;
	padding: 0px;
}
th {
	background : #234896;
	color : white;
	font-weight: bold;
	padding : 4px;
	text-align : left;
}

/* ErrorPage */

h1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px; 
	color : white;
	background : #234896;
	padding : 4px;
}
p {
	padding : 4px;
}

/* Fachinfo */
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 6px;
}
div.section {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height : 120%;
	margin-top : 8px;
}
span.section {
	font-style:italic;
}
pre, div.preformatted {
	font-style : normal;
	font-family: Courier New, Courier, monospace;
	font-size: 20px;
	margin-top : 0px;
	text-align : left;
	white-space : pre;
}
span.paragraph {
	font-style : normal;
	font-size: 20px;
	padding-bottom: 8px;
}

/* standard-result-classes */
td.company-label {
	font-weight : bold;
}
td.result-generic {
	color : #234896;
	padding : 4px;
}
td.result-generic-bg {
	background : #E7EBF4;
	color : #234896;
	padding : 4px;
}
td.result-comarketing {
	color : #f61;
	padding : 4px;
}
td.result-comarketing-bg {
	background : #E7EBF4;
	color : #f61;
	padding : 4px;
}
td.result-original {
	color : red;
	padding : 4px;
}
td.result-original-bg {
	background : #E7EBF4;
	color : red;
	padding : 4px;
}
td.result-complementary {
	color : #dd1cff;
	padding : 4px;
}
td.result-complementary-bg {
	background : #E7EBF4;
	color : #dd1cff;
	padding : 4px;
}
td.result-vaccine {
	color : brown;
	padding : 4px;
}
td.result-vaccine-bg {
	background : #E7EBF4;
	color : brown;
	padding : 4px;
}
td.result-unknown {
	padding : 4px;
}
td.result-unknown-bg {
	background : #E7EBF4;
	padding : 4px;
}
a.result-b-r-generic {
	color : #234896;
	font-weight: bold;
}
a.result-b-r-generic:hover {
	color : blue;
}
a.result-b-r-generic:active {
	color : gold;
}
td.result-b-r-generic {
	color : #234896;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-generic-bg:link, a.result-b-r-generic-bg:visited {
	background : #E7EBF4;
	color : #234896;
	font-weight: bold;
}
a.result-b-r-generic-bg:hover {
	color : blue;
}
a.result-b-r-generic-bg:active {
	color : gold;
}
td.result-b-r-generic-bg {
	background : #E7EBF4;
	color : #234896;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-comarketing {
	color : #f61;
	font-weight: bold;
}
a.result-b-r-comarketing:hover {
	color : blue;
}
a.result-b-r-comarketing:active {
	color : gold;
}
td.result-b-r-comarketing {
	color : #f61;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-comarketing-bg {
	background : #E7EBF4;
	color : #f61;
	font-weight: bold;
}
a.result-b-r-comarketing-bg:hover {
	color : blue;
}
a.result-b-r-comarketing-bg:active {
	color : gold;
}
td.result-b-r-comarketing-bg { 
	background : #E7EBF4;
	color : #f61;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-original {
	color : red;
	font-weight: bold;
}
a.result-b-r-original:hover {
	color : blue;
}
a.result-b-r-original:active {
	color : gold;
}
td.result-b-r-original {
	color : red;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-original-bg {
	background : #E7EBF4;
	color : red;
	font-weight: bold;
}
a.result-b-r-original-bg:hover {
	color : blue;
}
a.result-b-r-original-bg:active {
	color : gold;
}
td.result-b-r-original-bg { 
	background : #E7EBF4;
	color : red;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-complementary {
	color : #dd1cff;
	font-weight: bold;
}
a.result-b-r-complementary:hover {
	color : blue;
}
a.result-b-r-complementary:active {
	color : gold;
}
td.result-b-r-complementary {
	color : #dd1cff;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-complementary-bg:link, a.result-b-r-complementary-bg:visited {
	background : #E7EBF4;
	color : #dd1cff;
	font-weight: bold;
}
a.result-b-r-complementary-bg:hover {
	color : blue;
}
a.result-b-r-complementary-bg:active {
	color : gold;
}
td.result-b-r-complementary-bg {
	background : #E7EBF4;
	color : #dd1cff;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-vaccine {
	color : brown;
	font-weight: bold;
}
a.result-b-r-vaccine:hover {
	color : blue;
}
a.result-b-r-vaccine:active {
	color : gold;
}
td.result-b-r-vaccine {
	color : brown;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-vaccine-bg {
	background : #E7EBF4;
	color : brown;
	font-weight: bold;
}
a.result-b-r-vaccine-bg:hover {
	color : blue;
}
a.result-b-r-vaccine-bg:active {
	color : gold;
}
td.result-b-r-vaccine-bg { 
	background : #E7EBF4;
	color : brown;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
a.result-b-r-unknown {
	color : black;
	font-weight: bold;
}
a.result-b-r-unknown:hover {
	color : blue;
}
a.result-b-r-unknown:active {
	color : gold;
}
td.result-b-r-unknown { 
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
td.result-b-r-unknown-left { 
	background : #e9f7f3;
	color : black;
	padding : 4px;
	font-weight: bold;
	padding : 4px;
	text-align : left;
}
a.result-b-r-unknown-bg {
	background : #E7EBF4;
	color : black;
	font-weight: bold;
}
a.result-b-r-unknown-bg:hover {
	color : blue;
}
a.result-b-r-unknown-bg:active {
	color : gold;
}
td.result-b-r-unknown-bg { 
	background : #E7EBF4;
	font-weight: bold;
	padding : 4px;
	text-align : right;
}
td.result-i-generic {
	color : #234896;
	font-style : italic;
	padding : 4px;
}
td.result-i-generic-bg {
	background : #E7EBF4;
	color : #234896;
	font-style : italic;
	padding : 4px;
}
td.result-i-r-generic {
	color : #234896;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-r-generic-bg {
	background : #E7EBF4;
	color : #234896;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-comarketing {
	color : #f61;
	font-style : italic;
	padding : 4px;
}
td.result-i-comarketing-bg {
	background : #E7EBF4;
	color : #f61;
	font-style : italic;
	padding : 4px;
}
td.result-i-r-comarketing {
	color : #f61;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-r-comarketing-bg {
	background : #E7EBF4;
	color : #f61;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-original {
	color : red;
	font-style : italic;
	padding : 4px;
}
td.result-i-original-bg {
	background : #E7EBF4;
	color : red;
	font-style : italic;
	padding : 4px;
}
td.result-i-r-original {
	color : red;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-r-original-bg {
	background : #E7EBF4;
	color : red;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-unknown {
	font-style : italic;
	padding : 4px;
}
td.result-i-unknown-bg {
	background : #E7EBF4;
	font-style : italic;
	padding : 4px;
}
td.result-i-r-unknown {
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-r-unknown-bg {
	background : #E7EBF4;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-complementary {
	color : #dd1cff;
	font-style : italic;
	padding : 4px;
}
td.result-i-complementary-bg {
	background : #E7EBF4;
	color : #dd1cff;
	font-style : italic;
	padding : 4px;
}
td.result-i-r-complementary {
	color : #dd1cff;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-r-complementary-bg {
	background : #E7EBF4;
	color : #dd1cff;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-vaccine {
	color : brown;
	font-style : italic;
	padding : 4px;
}
td.result-i-vaccine-bg {
	background : #E7EBF4;
	color : brown;
	font-style : italic;
	padding : 4px;
}
td.result-i-r-vaccine {
	color : brown;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-i-r-vaccine-bg {
	background : #E7EBF4;
	color : brown;
	font-style : italic;
	padding : 4px;
	text-align : right;
}
td.result-r-generic {
	color : #234896;
	padding : 4px;
	text-align : right;
}
td.result-r-generic-bg {
	background : #E7EBF4;
	color : #234896;
	padding : 4px;
	text-align : right;
}
td.result-r-comarketing {
	color : #f61;
	padding : 4px;
	text-align : right;
}
td.result-r-comarketing-bg {
	background : #E7EBF4;
	color : #f61;
	padding : 4px;
	text-align : right;
}
td.result-r-original {
	color : red;
	padding : 4px;
	text-align : right;
}
td.result-r-original-bg {
	background : #E7EBF4;
	color : red;
	padding : 4px;
	text-align : right;
}
td.result-r-unknown {
	padding : 4px;
	text-align : right;
}
td.result-r-unknown-bg {
	background : #E7EBF4;
	padding : 4px;
	text-align : right;
}
td.result-r-complementary {
	color : #dd1cff;
	padding : 4px;
	text-align : right;
}
td.result-r-complementary-bg {
	color : #dd1cff;
	background : #E7EBF4;
	padding : 4px;
	text-align : right;
}
td.result-r-vaccine {
	color : brown;
	padding : 4px;
	text-align : right;
}
td.result-r-vaccine-bg {
	background : #E7EBF4;
	color : brown;
	padding : 4px;
	text-align : right;
}

/* other result-classes */
td.result-atc {
	background : #D5DFF5;
	color : black;
	padding : 4px;
}
td.bold {
	font-weight: bold;
}
td.result-seq {
	background : #dbffc3;
	color : black;
	padding : 4px;
}
td.indent {
	padding-left : 15px;
}
a.result-big-generic, 
a.result-big-generic:link, 
a.result-big-generic:visited {
	color : #234896;
	text-decoration : none;
}
a.result-big-generic:hover {
	color : blue;
}
a.result-big-generic:active {
	color : gold;
}
td.result-big-generic {
	color : #234896;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
td.result-big-generic-bg {
	background : #E7EBF4;
	color : #234896;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
a.result-big-comarketing, 
a.result-big-comarketing:link, 
a.result-big-comarketing:visited {
	color : #f61;
	text-decoration : none;
}
a.result-big-comarketing:hover {
	color : blue;
}
a.result-big-comarketing:active {
	color : gold;
}
td.result-big-comarketing {
	color : #f61;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
td.result-big-comarketing-bg {
	background : #E7EBF4;
	color : #f61;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
a.result-big-original, 
a.result-big-original:link, 
a.result-big-original:visited {
	color : red;
	text-decoration : none;
}
a.result-big-original:hover {
	color : blue;
}
a.result-big-original:active {
	color : gold;
}
td.result-big-original {
	color : red;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
td.result-big-original-bg {
	background : #E7EBF4;
	color : red;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
a.result-big-unknown, 
a.result-big-unknown:link, 
a.result-big-unknown:visited {
	color : black;
	text-decoration : none;
}
a.result-big-unknown:hover {
	color : blue;
}
a.result-big-unknown:active {
	color : gold;
}
td.result-big-unknown {
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
td.result-big-unknown-bg {
	background : #E7EBF4;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
a.result-big-complementary, 
a.result-big-complementary:link, 
a.result-big-complementary:visited {
	color : #dd1cff;
	text-decoration : none;
}
a.result-big-complementary:hover {
	color : blue;
}
a.result-big-complementary:active {
	color : gold;
}
td.result-big-complementary {
	color : #dd1cff;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
td.result-big-complementary-bg {
	color : #dd1cff;
	background : #E7EBF4;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
a.result-big-vaccine, 
a.result-big-vaccine:link, 
a.result-big-vaccine:visited {
	color : brown;
	text-decoration : none;
}
a.result-big-vaccine:hover {
	color : blue;
}
a.result-big-vaccine:active {
	color : gold;
}
td.result-big-vaccine {
	color : brown;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
td.result-big-vaccine-bg {
	background : #E7EBF4;
	color : brown;
	font-size : 14px;
	font-weight : bold;
	padding : 4px;
}
a.result-small-font, 
a.result-small-font:link, 
a.result-small-font:visited {
	color : black;
	text-decoration : none;
}
a.result-small-font:hover {
	color : blue;
}
a.result-small-font:active {
	color : black;
}
td.result-small-font {
	font-size : 10px;
	padding : 4px;
}
td.result-small-font-bg {
	background : #E7EBF4;
	font-size : 10px;
	padding : 4px;
}
td.result-edit-generic, td.result-edit-original, 
td.result-edit-comarketing,
td.result-edit-unknown, td.result-edit-complementary,
td.result-edit-vaccine,
a.result-edit-generic, a.result-edit-original, 
a.result-edit-comarketing,
a.result-edit-unknown, a.result-edit-complementary,
a.result-edit-vaccine
{
	color : blue;
	font-size : 11px;
	text-decoration : none;
	padding : 4px;
}
td.result-edit-generic-bg, td.result-edit-original-bg, 
td.result-edit-comarketing-bg,
td.result-edit-unknown-bg, td.result-edit-complementary-bg,
td.result-edit-vaccine-bg,
a.result-edit-generic-bg, a.result-edit-original-bg, 
a.result-edit-comarketing-bg,
a.result-edit-unknown-bg, a.result-edit-complementary-bg,
a.result-edit-vaccine-bg
{
	background : #E7EBF4;
	color : blue;
	font-size : 11px;
	text-decoration : none;
	padding : 4px;
}
td.result-found {
	padding-left : 4px; 
	padding-top : 6px; 
	font-weight : bold;
}
td.result-price-compare {
	width : 60%;
	padding-left : 4px; 
}

td.result-pubprice-generic {
	color : #234896;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-generic-bg {
	background : #E7EBF4;
	color : #234896;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-comarketing {
	color : #f61;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-comarketing-bg {
	background : #E7EBF4;
	color : #f61;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-original {
	color : red;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-original-bg {
	background : #E7EBF4;
	color : red;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-unknown {
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-unknown-bg {
	background : #E7EBF4;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-complementary {
	color : #dd1cff;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-complementary-bg {
	color : #dd1cff;
	background : #E7EBF4;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-vaccine {
	color : brown;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
td.result-pubprice-vaccine-bg {
	background : #E7EBF4;
	color : brown;
	font-weight : bold;
	padding-right : 10px;
	text-align : right;
}
a.feedback, a.feedback:link, a.feedback:visited, a.square {
	color: black;
	background-color : #F6B2C7;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	padding : 2px 2px 2px 3px;
}
a.google_search, a.google_search:link, a.google_search:visited, a.square {
	color: white;
	background-color : #DF376A;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	padding : 2px 5px 2px 5px;
}
td.square, td.square-original, td.square-generic, td.square-comarketing,
td.square-complementary, td.square-vaccine, td.square-unknown {
	padding : 2px;
}
td.square-bg, td.square-original-bg, td.square-comarketing-bg,
td.square-generic-bg, td.square-complementary-bg, td.square-vaccine-bg,
td.square-unknown-bg {
	padding : 2px;
	background : #E7EBF4;
}
td.bg a.feedback {
	background : #ffbc22;
}


a.result-infos, a.result-infos:link, a.result-infos:visited,
a.result-infos-original, a.result-infos-original:link, 
a.result-infos-original:visited,
a.result-infos-generic, a.result-infos-generic:link, 
a.result-infos-generic:visited,
a.result-infos-comarketing, a.result-infos-comarketing:link, 
a.result-infos-comarketing:visited,
a.result-infos-complementary, a.result-infos-complementary:link, 
a.result-infos-complementary:visited,
a.result-infos-vaccine, a.result-infos-vaccine:link, 
a.result-infos-vaccine:visited,
a.result-infos-unknown, a.result-infos-unknown:link, 
a.result-infos-unknown:visited
{
	color : black;
	background : #81A2EE;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	padding : 2px 2px 2px 4px;
}
td.result-infos,
td.result-infos-original, 
td.result-infos-generic, 
td.result-infos-comarketing, 
td.result-infos-complementary, 
td.result-infos-vaccine, 
td.result-infos-unknown
{
	padding : 2px;
	max-width: 20px;
}

a.result-infos-bg, a.result-infos-bg:link, a.result-infos-bg:visited, 
a.result-infos-original-bg, a.result-infos-original-bg:link, 
a.result-infos-original-bg:visited, 
a.result-infos-generic-bg, a.result-infos-generic-bg:link, 
a.result-infos-generic-bg:visited,
a.result-infos-comarketing-bg, a.result-infos-comarketing-bg:link, 
a.result-infos-comarketing-bg:visited, 
a.result-infos-complementary-bg, a.result-infos-complementary-bg:link, 
a.result-infos-complementary-bg:visited, 
a.result-infos-vaccine-bg, a.result-infos-vaccine-bg:link, 
a.result-infos-vaccine-bg:visited, 
a.result-infos-unknown-bg, a.result-infos-unknown-bg:link, 
a.result-infos-unknown-bg:visited 
{
	color : black;
	background : #FFF455;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	padding : 2px 2px 2px 4px;
}

td.result-infos-original-bg, 
td.result-infos-generic-bg, 
td.result-infos-comarketing-bg, 
td.result-infos-complementary-bg, 
td.result-infos-vaccine-bg, 
td.result-infos-unknown-bg
{
	background : #E7EBF4;
	padding : 2px;
	max-width: 20px;
}

td.result-infos-bg
{
	background : #e9f7f3;
	padding : 2px;
	max-width: 20px;
}

a.important-infos, a.important-infos:link, a.important-infos:visited,
a.important-infos-original, a.important-infos-original:link, 
a.important-infos-original:visited,
a.important-infos-generic, a.important-infos-generic:link, 
a.important-infos-generic:visited,
a.important-infos-comarketing, a.important-infos-comarketing:link, 
a.important-infos-comarketing:visited,
a.important-infos-unknown, a.important-infos-unknown:link, 
a.important-infos-unknown:visited,
a.important-infos-complementary, a.important-infos-complementary:link,
a.important-infos-complementary:visited,
a.important-infos-vaccine, a.important-infos-vaccine:link,
a.important-infos-vaccine:visited
{
	color : black;
	background : #81A2EE;
	font-size : 14px;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	padding : 2px 2px 2px 3px;
}
td.important-infos,
td.important-infos-original, 
td.important-infos-generic, 
td.important-infos-comarketing, 
td.important-infos-unknown,
td.important-infos-vaccine,
td.important-infos-complementary
{
	padding : 0px;
}

td.bg a.important-infos {
	background : #FFF455;
}

a.important-infos-bg, a.important-infos-bg:link, 
a.important-infos-bg:visited, 
a.important-infos-original-bg, a.important-infos-original-bg:link, 
a.important-infos-original-bg:visited, 
a.important-infos-generic-bg, a.important-infos-generic-bg:link, 
a.important-infos-generic-bg:visited,
a.important-infos-comarketing-bg, a.important-infos-comarketing-bg:link, 
a.important-infos-comarketing-bg:visited, 
a.important-infos-unknown-bg, a.important-infos-unknown-bg:link, 
a.important-infos-unknown-bg:visited,
a.important-infos-vaccine-bg, a.important-infos-vaccine-bg:link, 
a.important-infos-vaccine-bg:visited,
a.important-infos-complementary-bg, 
a.important-infos-complementary-bg:link, 
a.important-infos-complementary-bg:visited 
{
	color : black;
	background : #FFF455;
	font-size : 14px;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	padding : 2px 2px 2px 3px;
}

td.important-infos-original-bg, 
td.important-infos-generic-bg, 
td.important-infos-comarketing-bg, 
td.important-infos-unknown-bg,
td.important-infos-vaccine-bg,
td.important-infos-complementary-bg
{
	background : #E7EBF4;
	padding : 0px;
}

td.important-infos-bg
{
	background : #e9f7f3;
	padding : 0px;
}



/* atc-chooser-classes */
td.atcchooser1 {
	padding: 8px 4px 1px 4px;
}
td.atcchooser2 {
	padding: 6px 4px 1px 4px;
}
td.atcchooser3 {
	padding: 4px 4px 1px 4px;
}
td.atcchooser4 {
	padding: 2px 4px 1px 4px;
}
td.atcchooser5 {
	padding: 1px 4px 1px 4px;
}
a.atcchooser1 {
	font-weight : bold;
}
a.atcchooser1, a.atcchooser2,
a.atcchooser3, a.atcchooser4,
a.atcchooser5 {
	color: blue;
	text-decoration: none;
}
a.atcchooser2:hover, a.atcchooser2:hover,
a.atcchooser3:hover, a.atcchooser4:hover,
a.atcchooser5:hover {
	color : #234896;
	text-decoration: none;
}
a.atclink2, a.atclink3, 
a.atclink4, a.atclink5 {
	color : #234896;
	text-decoration: none;
}
a.atclink2:hover, a.atclink3:hover, 
a.atclink4:hover, a.atclink5:hover {
	color : #234896;
	text-decoration: none;
}
a.atcchooser2, a.atclink2 {
	margin-left: 26px;
}
a.atcchooser3, a.atclink3 {
	margin-left: 46px;
}
a.atcchooser4, a.atclink4 {
	margin-left: 66px;
}
a.atcchooser5, a.atclink5 {
	margin-left: 86px;
}

/* layout-classes */
td.ccomponent {
	text-align : left;
	color : black;
	vertical-align : middle; 
	padding : 4px;
	float : center;
}
table.ccomponent {
	margin-left: auto; 
	margin-right: auto; 
	text-align: left;
}
/*
td.ccomponent {
	text-align : center;
	vertical-align : middle; 
	width : 100%;
	height : 100%;
	padding : 4px;
}
*/
td.small {
	width : 20px;
}
td.small-font {
	font-size: 8pt;
	text-align: center;
}
td.small-padding {
	padding : 5px;
	font-size: 11px;
	text-decoration : none;
}
td.small-padding-bg{
	padding : 5px;
	font-size: 11px;
	text-decoration : none;
}
/*
body.composite {
	height : 100%;
}
*/
table.composite {
	width : 100%;
}
td.composite {
	vertical-align : top;
}
td.logo {
	vertical-align : top;
	position : relative;
	top : 3px;
	padding-bottom : 3px;
	background-image: url(background.jpg);
	background-repeat:repeat-x;
}
.logo-r {
	text-decoration : none;
	border : 0px dotted red;
	font-size : 11px;
	text-align : right;
	color : silver;
	background-image: url(background.jpg);
	background-repeat:repeat-x;
}
.personal {
	text-decoration : none;
	font-weight : bold;
	font-size : 11px;
	margin-top : 40px;
	color : black;
}
td.standard {
	padding : 4px;
	width : 200px;
}
th, td.th {
	background : #234896;
	color : white;
	font-weight : bold;
	padding : 4px;
	text-align : left;
	text-decoration : none;
}
th.th-r, td.th-r {
	background : #234896;
	padding : 4px;
	color : white;
	text-align : right;
	text-decoration : none;
}
th.th-pad-r {
	padding-right : 10px;
	color : white;
	text-align : right;
	text-decoration : none;
}
a.th, a.th:visited, a.th-r, a.th-pad-r, a.th-r:visited, a.th-pad-r:visited {
	color : white;
	text-decoration : none;
}
a.th:hover, a.th-r:hover, a.th-pad-r:hover {
	color : blue;
	text-decoration : none;
}
a.th:active, a.th-r:active, a.th-pad-r:active {
	color : red;
	text-decoration : none;
}
td.section-title {
	font-weight : bold;
	padding-top : 8px;
}
td.welcome {
	text-align : right;
	vertical-align : bottom;
	text-decoration : none;
}
a.welcome {
	padding : 0px;
	padding-right : 0px;
	color : blue;
	text-decoration : none;
}
a.welcome:hover {
	color : #234896;
	text-decoration : none;
}
a.text {
	color : blue;
	text-decoration : none;
}
a.text:hover {
	color : #234896;
	text-decoration : none;
}

/* pointersteps-classes */
th.th-pointersteps {
	background : white;
	color : black;
	font-weight : bold;
	/*padding : 4px;*/
	text-align : left;
	text-decoration : none;
}
a.th-pointersteps {
	background : white;
	color : blue;
	/*padding : 4px;*/
	text-align : left;
	text-decoration : none;
	
}

/* validation-classes */
td.error {
	background : #f9e7f3;
	color : red;
	font-weight : bold;
	padding : 8px;
}

/* standard-list-classes */
a.list {
	color: #234896;
	text-decoration : none;
}
a.list:link, a.list:visited {
	color : blue;
}
a.list:hover {
	color : #234896;
	text-decoration : none;
}
a.list:active {
	color : black;
}
a.list-b {
	color: #234896;
	font-weight : bold;
}
a.list-b:link, a.list-b:visited {
	color : blue;
	text-decoration : none;
}
a.list-b:hover {
	color : #234896;
	font-weight : bold;
	text-decoration : none;
}
td.list {
	padding : 4px;
	font-size : 12px; 
}
td.list-b {
	padding : 4px;
}
td.list-big {
	padding : 4px;
	font-size: 14px; 
	font-weight: bold;
}
td.list-big-bg {
	padding : 4px;
	font-size: 14px; 
	font-weight: bold;
	background : #e9f7f3;
}
td.list-title {
	padding : 4px;
	font-weight : bold;
}
td.list-bg {
	background : #e9f7f3;
	padding : 4px;
}
td.list-r {
	padding : 4px;
	text-align : right;
}
td.list-r-bg {
	background : #e9f7f3;
	padding : 4px;
	text-align : right;
}
a.list-small {
	font-size : 11px;
	color : blue;
	text-decoration : none;
}
a.list-small:hover {
	color : #234896;
	text-decoration : none;
}
a.list-small-bg {
	font-size : 11px;
	background : #e9f7f3;
	color : blue;
	text-decoration : none;
}
a.list-small-bg:hover {
	background : #e9f7f3;
	color : #234896;
	text-decoration : none;
}
td.list-small {
	font-size : 11px;
	padding : 4px;
}
td.list-small-bg {
	font-size : 11px;
	background : #e9f7f3;
	padding : 4px;
}
.subheading, .subheading-r, .subheading-bold {
	background : #D5DFF5;
	color : black;
	font-weight : normal;
	padding : 4px;
	text-decoration : none;
}
a.subheading {
	padding : 0px;
}
a.subheading-bold {
	padding : 4px;
}
a.subheading, a.subheading-bold {
	color : black;
}
a.subheading:link, a.subheading:visited,
a.subheading-bold:link, a.subheading-bold:visited {
	color : blue;
}
a.subheading:hover, a.subheading-bold:hover {
	color : red;
}
a.subheading:active, a.subheading-bold:active {
	color : silver;
}
.subheading-r {
	text-align : right;
}
.subheading-bold {
	font-weight : bold;
}

/* navigation-classes */
td.navigation {
	background : #234896;
	color : white;
	text-align : center;
	text-decoration : none;
}
table.right {
	float: right;
}
a.navigation:link, a.navigation:visited {
	background : #234896;
	color : white;
	font-weight: normal;
}
a.navigation, a.navigation:hover {
	background : #234896;
	color : blue;
	font-weight: normal;
}
a.navigation:active {
	background : #234896;
	color : red;
	font-weight: normal;
}
td.tabnavigation-right table {
	margin-bottom : 4px;
	padding : 4px;
	position : relative;
	float :right;
	border-right: 1px solid #234896;
	border-bottom: 1px solid #234896;
	border-left: 0px;
	border-top: 0px;
}
table.tabnavigation {
	padding : 4px;
	background : #D5DFF5;
	color : black;
	text-decoration : none;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 1px solid #234896;
	border-top: 1px solid #234896;
}
a.tabnavigation:link, a.tabnavigation:visited {
	background : #D5DFF5;
	color : blue;
	font-weight: bold;
	font-size: 13px;
}
a.tabnavigation, a.tabnavigation:hover {
	background : #D5DFF5;
	color : black;
	font-weight: bold;
	font-size: 13px;
}
a.tabnavigation:active {
	background : #D5DFF5;
	color : black;
	font-weight: bold;
	font-size: 13px;
}
table.navigation {
	position : relative;
	right : 0px;
}
td.navigation {
	padding : 2px;
}
table.navigation-foot {
	background : #234896;
	color : white;
	width : 100%;
	position : relative;
	bottom : 0px;
	padding: 3px;
}
td.pager {
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
}
a.pager {
	text-decoration: none;
}
a.pager:link, a.pager:visited {
	color: blue;
}
a.pager:hover {
	color: red;
}
a.pager:active {
	color: gold;
}
a.fbpager {
	color: white;
}
a.fbpager:hover {
	color: blue;
}
td.pager-head {
	padding-right : 12px;
}

/* input-classes */
input.button {
	background: none;
	color: black;
	font-size: 12px;
	font-family : Arial, Helvetica, sans-serif;
}
input {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px; 
}
input.medium {
	width : 100px;
}
input.standard {
	width : 200px;
}
textarea.standard {
	width : 200px;
	height: 60px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px; 
}

input.xl {
	width : 350px;
}
form.search {
	vertical-align: bottom;
	padding: 0px;
	margin: 0px;
}
input.search {
	width : 160px;
} 
input.search-center {
	width : 260px;
	padding : 0px;
	margin : 7px;
}
td.search {
	text-align : right;
	padding-bottom : 5px;
}
td.search-center {
	float: center;
	text-align: left;
}
input.small {
	width : 40px;
}
input.mailinglist {
	width : 250px;
	padding : 0px;
	margin : 7px;
	margin-left : 0px;
}
td.donate {
	text-align : center;
}
td.button-right {
	text-align : right;
	padding-bottom : 5px;
}
td.button {
	text-align : center;
	padding-bottom : 5px;
	margin : 5px;
}

/* explain-classes */
a.explain-generic {
	font-weight : bold;
	color : #234896;
	padding-left : 4px;
}
a.explain-comarketing {
	font-weight : bold;
	color : #f61;
	padding-left : 4px;
}
a.explain-original {
	font-weight : bold;
	color : red;
	padding-left : 4px;
}
a.explain-complementary {
	font-weight : bold;
	color : #dd1cff;
	padding-left : 4px;
}
a.explain-vaccine {
	font-weight : bold;
	color : brown;
	padding-left : 4px;
}
td.explain-unknown {
	font-weight : bold;
	color : black;
	padding-left : 4px;
}
td.explain-infos {
	color : black;
	padding-left : 4px;
}
table.result-foot {
	width : 100%;
}
td.result-foot {
	vertical-align : bottom;
	width : 100%;
}
table.explain-result {
	background : #D5DFF5;
	color : black;
	text-align : left;
	width : 100%;
	font-size: 15px;
}
td.explain-result {
	background : #D5DFF5;
	vertical-align : bottom;
	padding-top : 3px;
	padding-bottom : 3px;
	width : 85%;
	font-size: 11px;
}
td.explain-result-r {
	background : #D5DFF5;
	vertical-align : bottom;
	padding: 3px;
	text-align: right;
}
table.legal-note {
	width : 100%;
	text-align : right;
}
td.legal-note-center {
	font-size: 8pt;
	text-align : center;
	padding: 4px;
	padding-bottom: 6px;
}
td.legal-note-right {
	vertical-align : bottom;
	text-align: right;
	/*width : 100%;*/
	padding: 4px;
}
a.legal-note {
	text-decoration : none;
}
a.legal-note:link, a.legal-note:visited {
	color: blue;
}
a.legal-note:hover {
	color: #234896;
}
a.legal-note:active {
	color: gold;
}

/* error_classes */
label.error {
	color : red;
}
td.info {
	padding-bottom : 4px;
	padding-top : 4px;
	color : green;
}
td.processingerror {
	padding: 4px;
	color : red;
}
td.warning {
	padding-bottom : 4px;
	padding-top : 4px;
	color : #ff6600;
}

/* tab-classes */
td.chapter-tab, td.chapter-tab-b {
	background : #D5DFF5;
	border-style : solid;
	border-color : black;
	border-width : 0px 0px thin 0px;
	padding : 4px;
}
a.chapter-tab, a.chapter-tab-b {
	background : #D5DFF5;
	color: red;
}
a.chapter-tab:link, a.chapter-tab:visited,
a.chapter-tab-b:link, a.chapter-tab-b:visited {
	background : #D5DFF5;
	color: blue;
}
td.chapter-tab-b {
	font-weight : bold;
	padding : 4px;
}

/* print-classes */
td.print-big { 
	padding-top: 12px;
	font-weight: bold;
	font-size: 26px;
}

/* misc */
a.powerlink {
	color : blue;
	text-decoration : underline;
}
a.powerlink:hover {
	color : red;
}
a.powerlink:active {
	color : gold;
}

/* new style of formatting */
/* use multiple classes to style! */

td.interaction-connection { 
	margin-top: 0px;
	list-style-type : circle;
}

input.button {
	background : none;
	color : black;
	font-size : 12px;
}

span.bold {
	font-weight : bold;
} 

span.italic {
	font-style : italic;
} 

td.bg {
	background : #E7EBF4;
}

td.bold {
	font-weight : bold;
}

td.interaction-substance {
	font-size: 14px;
	width : 10%;
}

td.interaction-connection {
	width : 30%;
}

table.interaction-basket td {
	padding-top : 4px;
	padding-left : 4px;
	padding-bottom : 4px;
	vertical-align : top;
}

td.left {
	text-align : left;
}

td.right {
	text-align : right;
}

td.padding {
	padding-right : 5px;
	padding-top : 5px;
	padding-bottom : 5px;
}

td.result {
	font-size : 14px;
	padding : 4px;
}

td.result-bg {
	background : #E7EBF4;
	font-size : 14px;
}

td.sum {
	border-color : black;
	border-style : solid;
	border-width : 0px 0px 1px 0px;
}

td.total {
	border-color : black;
	border-style : double;
	border-width : 0px 0px 3px 0px;
}
td.top {
	vertical-align : top;
}
td.address-width {
	width: 180px;
}
td.border-left {
	float: right;
	border-left: 1.5px solid #234896;
	width: 400px;
}
td.radio {
	vertical-align: top;
	width: 5px;
	height: 12px;
	max-width: 5px;
}
div.square {
	max-width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	font-size : 16px;
}
div.plus {
	background-color: #cf9;

}
div.minus {
	background-color: #F6B2C7;
}
span.square {
	text-align: center;
	vertical-align: middle;
	padding: 2px 4px;
}
span.anthroposophy {
	color: white;
	background-color: #ff00ff;
}
span.homeopathy {
	color: white;
	background-color: #9900ff;
}
span.phytotherapy {
	color: white;
	background-color: #6600ff;
}
table.wait {
	cell-spacing: 20px;
}
td.wait {
	width: 25px;
	height: 25px;
	border: 1px solid #234896;
	background-color : #e9f7f3;
}
td.bg-red{
	background-color: #FF0000;
}
td.confirm {
	padding: 6px;
	background : #E7EBF4;
	font-size: 14px;
	font-weight: bold;
}
table.invoice {
	width: 300px;
	border: 1px solid #D5DFF5;
}
table.center {
	margin: auto;
}
table.border, table.border td {
	border: 1px solid green;
}
td.migel-group, td.migel-group a {
	background: #7bcf88;
	color: black;
}
td.migel-group {
	padding: 4px;
}
div.just-medical {
	background : #234896;
	color : white;
	font-weight : bold;
	padding : 4px;
	text-align : left;
	text-decoration : none;
}
td.next-step {
	padding: 4px;
	border: 2px dotted red;
	width: auto;
}
td.active-item {
	padding-top: 15px;
	opacity: .75;
	filter: alpha(opacity=75);
}
div.long-text {
	max-width: 400px;
}
td.navigation-right table {
	float: right;
}
td.date-chooser {
	border-bottom: 1px solid #234896;
}
tr.expired td, td.expired { 
	filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  opacity: 0.65;
	background-color: #CCC;
}
td.tab {
	background-color: #D5DFF5;
	border-top: 2px solid #7bcf88;
}
div.dojoTooltip {
	font-size : 14px; 
	white-space: nowrap;
}
span.deductible_g
{
	color : black;
	background-color : #FFF455;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	padding : 2px 2px 2px 4px;
}
span.deductible_o
{
	color : black;
	background-color : #ffc455;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	padding : 2px 2px 2px 4px;
}
td.nowrap 
{
	white-space: nowrap;
}
